* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.login-form-wrap {
  background: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5170ad', endColorstr='#355493',GradientType=1 );
  border: 1px solid #FFF;
  box-shadow: 0 1px #FFF inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  width: 360px;
  height: 300px;
  margin: 10% auto;
  padding: 50px 20px 10px 20px;
  text-align: center;
}

.change-form-wrap {
  background: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5170ad', endColorstr='#355493',GradientType=1 );
  border: 1px solid #FFF;
  box-shadow: 0 1px #FFF inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  width: 300px;
  height: 380px;
  margin: 6% auto;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.changepassword-form-wrap {
  background: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5170ad', endColorstr='#355493',GradientType=1 );
  border: 1px solid #FFF;
  box-shadow: 0 1px #FFF inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  width: 300px;
  height: 250px;
  margin: 6% auto;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.search-form-wrap select{
  float: left; 
  margin-left: 20px;
  width:200px;
  height: 30px;
  color:#C0C0C0;
  border: 1px solid #314d89;
  background: #FFF;
  border-radius: 4px 4px 4px 4px;
}

.search-form-wrap input[type="text"]{
  float: left; 
  margin-left: 20px;
  width:200px;
  height: 30px;
  color:#C0C0C0;
  border: 1px solid #314d89;
  background: #FFF;
  border-radius: 4px 4px 4px 4px;
}

.search-form-wrap input[type="submit"]{
  float: left; 
  margin-left: 20px;
  width:100px;
  height: 30px;
  color:#C0C0C0;
  border: 1px solid #314d89;
  background: #FFF;
  border-radius: 4px 4px 4px 4px;
}

.login-form input[type="text"], .login-form input[type="password"]{
  width: 100%;
  border: 1px solid #314d89;
  outline: none;
  color:#000000;
  padding: 5px 5px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
.login-form input[type="text"] {
  
  border-radius: 4px 4px 4px 4px;
  padding-bottom: 13px;
  box-shadow: 0 -1px 0 #e0e0e0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
}
.login-form input[type="password"] {
  
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}
 
.login-form input[type="submit"] {
  font-family: 'Lato', "STKaiti";
  font-weight: 400;
  background: #e0e0e0;
  background: -moz-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #cecece));
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: -o-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: -ms-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: linear-gradient(to bottom, #e0e0e0 0%, #cecece 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#cecece',GradientType=0 );
  display: block;
  margin: 10px auto 0 auto;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 17px;
  color: #636363;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  font-weight: 700;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}
.login-form input[type="submit"]:hover {
  background: #778899;
}
.login-form input[type="submit"]:active {
  padding-top: 9px;
  padding-bottom: 7px;
  background: #C9C9C9;
}

.login-form1 input[type="text"], .login-form1 input[type="password"]{
  width: 100%;
  border: 1px solid #314d89;
  outline: none;
  color:#000000;
  padding: 12px 20px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
.login-form1 input[type="text"] {
  
  border-radius: 4px 4px 4px 4px;
  padding-bottom: 13px;
  box-shadow: 0 -1px 0 #e0e0e0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
}
.login-form1 input[type="password"] {
  
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}

.login-form1 input[type="submit"] {
  font-family: 'Lato', "STKaiti";
  font-weight: 400;
  background: #e0e0e0;
  background: -moz-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #cecece));
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: -o-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: -ms-linear-gradient(top, #e0e0e0 0%, #cecece 100%);
  background: linear-gradient(to bottom, #e0e0e0 0%, #cecece 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#cecece',GradientType=0 );
  display: block;
  margin: 10px auto 0 auto;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 17px;
  color: #636363;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  font-weight: 700;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}

form {
  margin:0;
  padding:0
} 



