{% extends "layout.html" %}
{% block body %}
	{% if session.myAssets_in %}
    <script type="text/javascript">document.getElementById('sidebar').style.display='inline'</script>
  <div id="product info">
       <div class="title" margin-left:="" 20px;="" margin-right:="" width:="" 624px;="" margin-bottom:="" 10px;="" style="
    margin-left: 20px;
    margin-right: 20px;
">
    <h1>All Assets </h1>   
  </div>
<table id="mytab"  border="1" class="t1" style="
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
">
  <thead>
    <th width="30%">Product ID</th>
    <th width="20%">Product Type</th>
    <th width="20%">Product Info</th>
    <th width="20%">User Name</th>
    <th width="20%">Use status</th>
    <th width="20%">option</th>
  </thead>
  <tr class="a1">
    <td>wallimn</td>
    <td>http://blog.csdn.net/wallimn</td>
    <td>wallimn@tom.com</td>
    <td>wangxiaole</td>
    <td>using</td>
    <td><input type="submit" value="Modify"></td>
  </tr>
  <tr>
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
    <td>wangxiaole</td>
    <td>using</td>
    <td><input type="submit" value="Modify"></td>
  </tr>
  <tr class="a1">
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
    <td>wangxiaole</td>
    <td>using</td>
    <td><input type="submit" value="Modify"></td>
  </tr>
  <tr>
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
    <td>wangxiaole</td>
    <td>using</td>
    <td><input type="submit" value="Modify"></td>
  </tr>
</table>
 </div>  
  {% endif %}  

{% endblock %}
