{% extends "layout.html" %}
{% block body %}
	<h2>Login</h2>
	{% if error %}
		<p class=error><strong>Error:</strong>> {{error}}
	{% endif %}
	<form action="{{url_for('login')}}" method=post>
		<dl>
      		<dt>Username:
      		<dd><input type=text name=username style="padding-left=2px;width:230px;height:20px">
      		<dt>Password:
      		<dd><input type=password name=password style="padding-left=2px;width:230px;height:20px">
     	 	<dd><input type="submit" value="Login" style="margin-top: 10px;width: 70px;height: 20px; margin-bottom: 10px;">
    	</dl>
  	</form>
{% endblock %}