{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
    <script type="text/javascript">document.getElementById('sidebar').style.display='inline'</script>
  <div id="product info">
        <div class="title">
    <h1>My Asset Info</h1>   
	</div>
<table width="90%" id="mytab"  border="1" class="t1">
  <thead>
    <th width="10%">Product ID</th>
    <th width="30%">Product Type</th>
    <th width="20%">Product Info</th>
  </thead>
  <tr class="a1">
    <td>wallimn</td>
    <td>http://blog.csdn.net/wallimn</td>
    <td>wallimn@tom.com</td>
  </tr>
  <tr>
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
  </tr>
  <tr class="a1">
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
  </tr>
  <tr>
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
  </tr>
</table>
 </div>  
  {% endif %}  

{% endblock %}
