{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
    <script type="text/javascript">document.getElementById('sidebar').style.display='inline'</script>
  <div id="product info">
        <div class="title" style="margin-left: 20px; margin-right: 20px;">
    	<h1>My Asset Info</h1>   
		</div>
<table id="mytab"  border="1" class="t1" style="
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
">
  <thead>
    <th width="10%">Product ID</th>
    <th width="30%">Product Type</th>
    <th width="20%">Product Info</th>
  </thead>
  <tr class="a1">
    <td>wallimn</td>
    <td>http://blog.csdn.net/wallimn</td>
    <td>wallimn@tom.com</td>
  </tr>
  <tr>
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
  </tr>
  <tr class="a1">
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
  </tr>
  <tr>
    <td>长三江</td>
    <td>村在</td>
    <td>北京天安门</td>
  </tr>
</table>
 </div>  
  {% endif %}  

{% endblock %}
