{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <script type="text/javascript">
      document.getElementById('sidebar').style.display='inline'
      document.getElementById('logout').style.display='inline'
      </script>
      <div class="title" margin-bottom:="10px"; style="
    margin-left: 20px;
    margin-right: 20px;
">
    <h1>修改密码</h1>
</div>
      <div id="change password">     
          <div class="changepassword-form-wrap"> 
            <div class="login-form1"> 
              <form action="{{url_for('change_personel_information')}}" method=post style="background:#FFF;border:0px;">  
              <label>
                <input type="password" name="oldpassword"  required placeholder="原始密码">
              </label>
              <label>
                <input type="password" name="newpassword" required placeholder="新密码">
              </label>
              <label>
                <input type="password" name="confirm" required placeholder="再次输入新密码">
              </label>         
              <input type="submit" value="修改密码">
               </form>
              {% if error %}
                <p class=error style="color:#FF0000"><strong>Error:</strong> {{error}}
              {% endif %}
            </div>          
          </div>
     </div> 
   {% else %}
     
  {% endif %}

{% endblock %}